@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-family: 'Poppins'sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins'sans-serif;
    font-weight: bold;
    transition: 1.5s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ED6955;
}

.apresentação-top {
   margin: 50px 0px;
}

.text-apresentação-top {
    padding: 20px;
}

.text-apresentação-top h4 {
    color: #ED6955;
    font-family: 'Poppins' sans-serif;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 0.5px solid #ED6955;
}

.text-apresentação-top p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins' sans-serif;
}

.card {
    width: 230px !important;
    margin-bottom: 20px;
}

.card-text {
    font-family: 'Poppins' sans-serif;
}

.botao {
    background-color:#ED6955; 
    border-radius: 16px; 
    color: white; 
    padding: 15px; 
    text-decoration: none;
    transition: 1.5s;
    font-family: 'Poppins', sans-serif;
}

a.botao:hover {
    background-color: white;
    border: 1px solid #ED6955;
    border: 1px solid;
    color: #ED6955;
}

.botao-slide {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    background-color: #ED6955;
    border-radius: 12px;
    width: 10%;
    transition: 1.5s;
    padding:5px 25px;
    margin-top: 20px;
}

.botao-slide:hover {
    color: #ED6955;
    background-color: white;
    border: 1px solid #ED6955;
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url(img/pexels-javon-swaby-1829423.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-banner {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}


.text-receita h4{
    color: #ED6955;
}

.text-receita p {
    font-size: 17px;
    font-weight: normal;
    font-family: 'Poppins' sans-serif;
}

.cards {
    background-color: #fbfbfb;
}

.card {
    border: 1px solid #ed6955 !important;
}

.title-cards {
    color: #ED6955;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins'sans-serif;
}

.card h5 {
    border-bottom: 1px solid;
    color: #ed6955;
    font-family: 'Poppins' sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins' sans-serif;
    text-align: center;
}


.sobre {
    padding: 40px 0px;
}

.img-sobre img {
    height: 220px;
    margin: 40px 0px;
}

.sobre h5{
    border-bottom: 1px solid #ED6955;
    color: #ED6955;
    font-size: 40px;
    font-family: 'Poppins'sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.sobre p {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins' sans-serif;
}


.text-preco h5{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins'sans-serif;
    text-transform: uppercase;
}

.contato {
    padding: 40px 0px;
}

.contato h5 {
    border-bottom: 1px solid;
    color: #ED6955;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
    text-transform: uppercase;
}

.contato p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins'sans-serif;
}

.contato span {
    color: #ED6955;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Poppins'sans-serif;
}


.text-form {
    font-family: 'Poppins'sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.form-label {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins'sans-serif;
}

footer {
    background-color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.568);
    padding: 20px;
}

.text-footer {
    color: white;
}

.text-footer h5 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins'sans-serif;
}
.text-footer p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins'sans-serif;
}

.text-rodape p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins'sans-serif;
}


@media (max-width: 450px) {
    .img-sobre img {
        height: 160px;
    }
    
}
@media (max-width: 375px) {
    img, svg {
        height: 200px !important;
    }
}

@media (max-width: 320px) {
    .card {
        width: 230px;
    }
}